.jumbotron{
    background-color:  lightpink;
    color: black;
    margin-top: 50px;
}


footer{
    /* padding: 10px 10px 0 10px; */
    background-color: lightpink;
    margin-bottom: 0px;
    margin-top: 10px;
    
    
}
.card-servicios{
  
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.tab-content{
    padding-top: 10px;
}
